@model IEnumerable<cTaxi2.Models.DriverReview>

@{
    ViewBag.Title = "Index";
}

<h2>cTaxi App</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table style="width:100%">
    <tr class="item_row">
        <th>
            @Html.DisplayNameFor(model => model.LicenceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>     
        
        <th>
            @Html.DisplayNameFor(model => model.BeginJob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEyeCheck)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEyeCheck)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LicenceID })
                @Html.ActionLink("Details", "Details", new { id = item.LicenceID })
                @Html.ActionLink("Delete", "Delete", new { id = item.LicenceID })
            </td>
        </tr>
    }
</table>


@foreach (var item in Model)
{
    <div class=" review">
        <h4>@item.FullName</h4>
        <span>@item.PhoneNumber</span>
        <p>@item.Email, @item.Adress</p>

        <span class="right">
            @Html.ActionLink("Edit", "Edit", new { id = item.LicenceID })
        </span>
    </div>
}